
@{
    List<md_Planilha.mdValores> categoria = ViewBag.categoria;
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron jumpAjustado">
        @if (TempData["sucesso"] != null)
        {
            <div class="alert alert-success" id="notfyCategoria">@TempData["sucesso"] <span class="fa fa-check fa-2x"></span></div>
        }
        @if (TempData["erro"] != null)
        {
            <div class="alert alert-danger" id="notfyCategoria">@TempData["erro"] <span class="fa fa-times fa-2x"></span></div>
        }

        <center>
            <div class="nomePagina" id="categTitulo">
                <h2>Categorias</h2>

            </div>
        </center>
        <br />
        <form action="/valores/adicionarcategoria">
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in categoria)
                    {
                        <tr>
                            <td class="Categoria">@cat.Codigo</td>
                            <td class="Categoria">@cat.Categoria</td>
                            <td>
                                <a class="btn btn-primary" style="font-size:14px;" href="/valores/@cat.Codigo/alterarcategoria"><span class="fa fa-pencil"></span><b> Alterar</b></a>
                            </td>
                            <td>
                                <a class="btn btn-danger" style="font-size:14px;" data-toggle="modal" data-target=".@cat.Codigo"><span class="fa fa-trash"></span><b> Excluir</b></a>

                                <!-- ALERT EXCLUIR CATEGORIA -->
                                <div class="modal fade @cat.Codigo">
                                    <div id="popupCategoria" class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button data-dismiss="modal" class="close"><span>&times;</span></button>
                                                <div class="modal-title"><h3><span class="fa fa-info-circle fa-2x popupExcluir"></span><b> Excluir Categoria "@cat.Categoria" </b></h3></div>
                                            </div>
                                            <div class="modal-body">
                                                <p style="font-size:15px;">Essa exclusão será permantente, todos os dados dessa categoria serão excluidos!</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/valores/@cat.Codigo/excluircategoria" class="btn btn-danger">Excluir</a>
                                                <button class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- FIM DO ALERT -->

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <label class="fa fa-plus-circle" id="plusCircle"></label>
                        </td>

                        <td>
                            <input type="text" name="categoria" class="form-control" id="categoria" />
                        </td>
                        <td>
                            <button class="btn btn-success" style="font-size:14.5px;"><span class="fa fa-save"></span><b> Salvar</b></button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>



