@{
    List<md_Planilha.mdValores> mdValores = ViewBag.planilhaValores;
    ViewBag.Title = ViewBag.Mes;
}

@if (TempData["sucesso"] != null)
{
    <div class="alert alert-success">@TempData["sucesso"]</div>
}
@if (TempData["erro"] != null)
{
    <div class="alert alert-danger">@TempData["erro"]</div>
}

<div class="jumbotron">
    <div class="box">
        <h2>@ViewBag.Mes.Replace("c", "ç") @ViewBag.Ano</h2>
    </div>
    <br />

    <table class="table">
        <tr>
            <td>#</td>
            <td>Categoria</td>
            <td>Proposta</td>
            <td>Realizado</td>
            <td></td>

        </tr>
        @foreach (var p in mdValores)
        {
            <tr>
                <td>@p.Codigo</td>
                <td>@p.Categoria</td>
                <td>@p.Proposta.ToString("#,##0.00")</td>
                <td>@p.Realizado.ToString("#,##0.00")</td>

                <td><div><a href="/valores/@p.Codigo/alterar" class="btn btn-primary">Alterar</a></div></td>
            </tr>
        }
    </table>
</div>

