@{
    List<md_Planilha.mdValores> mdValores = ViewBag.planilhaValores;
    var meses = ViewBag.Meses;
    ViewBag.Title = ViewBag.Mes;
    var a = 0;
}



<div class="jumbotron jumpAjustado">
    @if (TempData["sucesso"] != null)
    {
        <div class="alert alert-success" id="notfyValores">@TempData["sucesso"] <span class="fa fa-check fa-2x"></span></div>
    }
    @if (TempData["erro"] != null)  
    {
        <div class="alert alert-danger" id="notfyValores">@TempData["erro"] <span class="fa fa-times fa-2x"></span></div>
    }
    <center>
        <div id="tituloValores">
            <h2>@ViewBag.Mes.Replace("c", "ç") @ViewBag.Ano</h2>

        </div>
    </center>
    <br />
    <br />

    <table class="table">
        <tr>
            <th>#</th>
            <th>Categoria</th>
            <th>Proposta</th>
            <th>Realizado</th>
            <th></th>

        </tr>
        @foreach (var p in mdValores)
        {
            a += 1;
            <tr>
                <td>@a</td>
                <td>@p.Categoria</td>
                <td>@p.Proposta.ToString("#,##0.00")</td>
                <td>@p.Realizado.ToString("#,##0.00")</td>

                <td><div><a href="/valores/@p.Codigo/alterar" class="btn btn-primary btnAlterarVal"><span class="fa fa-pencil btnAlterarVal"></span> Alterar</a></div></td>
            </tr>
        }
        <tfoot>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="btn btn-warning" href="/planilha" target="_blank"><span class="fa fa-table"></span> Planilha</a></td>
            </tr>
        </tfoot>
    </table>
</div>

