@{
    List<md_Planilha.mdValores> ParteUm = ViewBag.montarParteUm;
    List<md_Planilha.mdValores> ParteDois = ViewBag.montarParteDois;
    List<md_Planilha.mdValores> valorTotal = ViewBag.valorTotal;
    List<md_Planilha.mdValores> primeiroTotal = ViewBag.primeiroTotal;
    List<md_Planilha.mdValores> segundoTotal = ViewBag.segundoTotal;
    List<md_Planilha.mdValores> primeiroResultado = ViewBag.primeiroResultado;
    List<md_Planilha.mdValores> segundoResultado = ViewBag.segundoResultado;
    List<md_Planilha.mdValores> FaturamentoResult = ViewBag.FaturamentoResult;
    List<md_Planilha.mdValores> sobre = ViewBag.sobre;
    List<md_Planilha.mdValores> resultado = ViewBag.resultadoTotal;
    List<md_Planilha.mdValores> contribDespesas = ViewBag.despesas;
    md_Planilha.mdValores totalSobre = ViewBag.totalSobre;
    md_Planilha.mdValores propResult = ViewBag.propResultado;
    md_Planilha.mdValores realiResult = ViewBag.realiResultado;
    md_Planilha.mdValores totalDespesas = ViewBag.totaldespesas;
    md_Planilha.mdValores propostaTabResultado = ViewBag.propostaTabResultado;
    md_Planilha.mdValores realizadoTabResultado = ViewBag.realizadoTabResultado;
    md_Planilha.mdValores metaProp = ViewBag.metaProposta;
    md_Planilha.mdValores metaReali = ViewBag.metaRealizada;
    ViewBag.Title = "Planilha";
    var a = 0;
    var b = 0;
    Layout = "~/Views/Shared/_Render.cshtml";



}

@if (primeiroTotal == null || segundoTotal == null || propResult == null || totalSobre == null)
{
    TempData["erro"] = "Não hà informações suficiente para montar a planilha ou esse ano não foi criado!";
    Response.Redirect("/home");
}
else
{



    <div class="container">
        <div class="col-md-6">
            <h2>@ViewBag.usuario @ViewBag.ano</h2>
        </div>

        <div class="box">
            <div class="col-md-6">
                <a href="/planilha/impressao" class="btn btn-default fa fa-print fa-2x fa-border" target="_blank"></a>
            </div>
            <div class="col-md-6">
                <a href="/planilha/graficos" class="btn btn-default fa fa-bar-chart fa-2x fa-border" target="_blank"></a>
            </div>
        </div>
        <div class="tabela">
            <table class="table-round-corner table table-striped">
                <tr>
                    <th style="text-align:center;" colspan="2">Categoria</th>
                    <th style="text-align:center;" colspan="2">Janeiro</th>
                    <th style="text-align:center;" colspan="2">Fevereiro</th>
                    <th style="text-align:center;" colspan="2">Março</th>
                    <th style="text-align:center;" colspan="2">Abril</th>
                    <th style="text-align:center;" colspan="2">Maio</th>
                    <th style="text-align:center;" colspan="2">Junho</th>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                </tr>
                @foreach (var p in ParteUm)
                {
                    a += 1;
                    <tr>
                        <td>@a</td>
                        <td>@p.Categoria</td>
                        <td>@p.JanProposta.ToString("#,##0.00")</td>
                        <td>@p.JanRealizado.ToString("#,##0.00")</td>
                        <td>@p.FevProposta.ToString("#,##0.00")</td>
                        <td>@p.FevRealizado.ToString("#,##0.00")</td>
                        <td>@p.MarProposta.ToString("#,##0.00")</td>
                        <td>@p.MarRealizado.ToString("#,##0.00")</td>
                        <td>@p.AbrProposta.ToString("#,##0.00")</td>
                        <td>@p.AbrRealizado.ToString("#,##0.00")</td>
                        <td>@p.MaiProposta.ToString("#,##0.00")</td>
                        <td>@p.MaiRealizado.ToString("#,##0.00")</td>
                        <td>@p.JunProposta.ToString("#,##0.00")</td>
                        <td>@p.JunRealizado.ToString("#,##0.00")</td>

                    </tr>
                }
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="total">Total</td>
                        @foreach (var t in primeiroTotal)
                        {
                            <td>@t.TotalProposta.ToString("#,##0.00")</td>
                            <td>@t.TotalRealizado.ToString("#,##0.00")</td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        <td class="total">Resultado</td>
                        @foreach (var pr in primeiroResultado)
                        {
                            <td>@pr.TotalPropResultado.ToString("#,##0.00")</td>
                            <td>@pr.TotalRealiResultado.ToString("#,##0.00")</td>
                        }
                    </tr>
                </tfoot>
            </table>
            <br />


            @*Inicio da segunda parte da tabela*@
            <table class="table-round-corner table table-striped">
                <tr>
                    <th colspan="2">Categoria</th>
                    <th colspan="2">Julho</th>
                    <th colspan="2">Agosto</th>
                    <th colspan="2">Setembro</th>
                    <th colspan="2">Outubro</th>
                    <th colspan="2">Novembro</th>
                    <th colspan="2">Dezembro</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                    <td>Proposta</td>
                    <td>Realizado</td>
                </tr>
                @foreach (var p in ParteDois)
                {
                    b += 1;
                    <tr>
                        <td>@b</td>
                        <td>@p.Categoria</td>
                        <td>@p.JulProposta.ToString("#,##0.00")</td>
                        <td>@p.JulRealizado.ToString("#,##0.00")</td>
                        <td>@p.AgoProposta.ToString("#,##0.00")</td>
                        <td>@p.AgoRealizado.ToString("#,##0.00")</td>
                        <td>@p.SetProposta.ToString("#,##0.00")</td>
                        <td>@p.SetRealizado.ToString("#,##0.00")</td>
                        <td>@p.OutProposta.ToString("#,##0.00")</td>
                        <td>@p.OutRealizado.ToString("#,##0.00")</td>
                        <td>@p.NovProposta.ToString("#,##0.00")</td>
                        <td>@p.NovRealizado.ToString("#,##0.00")</td>
                        <td>@p.DezProposta.ToString("#,##0.00")</td>
                        <td>@p.DezRealizado.ToString("#,##0.00")</td>
                    </tr>
                }
                <tr class="rodape">
                    <td></td>
                    <td class="total">Total</td>
                    @foreach (var t in segundoTotal)
                    {
                        <td>@t.TotalProposta.ToString("#,##0.00")</td>
                        <td>@t.TotalRealizado.ToString("#,##0.00")</td>
                    }
                </tr>
                <tr>
                    <td></td>
                    <td class="total">Resultado</td>
                    @foreach (var sr in segundoResultado)
                    {
                        <td>@sr.TotalPropResultado.ToString("#,##0.00")</td>
                        <td>@sr.TotalRealiResultado.ToString("#,##0.00")</td>
                    }
                </tr>
            </table>
            <br />

            <div class="box">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th colspan="3">Resultado</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Proposta Total</td>
                            <td>Realizado Total</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var fatR in FaturamentoResult)
                        {
                            <tr>
                                <td>@fatR.Categoria</td>
                                <td>@fatR.FaturamentoPropResult.ToString("#,##0.00") </td>
                                <td>@fatR.FaturamentoRealiResult.ToString("#,##0.00")</td>
                            </tr>
                        }
                        <tr>
                            <td>Total: </td>
                            <td>@propResult.PropResultado.ToString("#,##0.00")</td>
                            <td>@realiResult.RealiResultado.ToString("#,##0.00")</td>
                        </tr>
                        <tr>
                            <td>Resultado</td>
                            <td>@propostaTabResultado.PropostaTabResultado.ToString("#,##0.00") </td>
                            <td>@realizadoTabResultado.RealizadoTabResultado.ToString("#,##0.00") </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <table class="table-striped">
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td>% Sobre o Faturamento</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    @foreach (var sob in sobre)

                    {
                        <tr>
                            <td>@sob.SobreFaturamento.ToString("#,##0.00") %</td>
                        </tr>
                    }
                    <tr>
                        <td>@totalSobre.TotalSobreFaturamento.ToString("#,##0.00") %</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>

            <div class="box">
                <table class="table-striped">
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td>% Contribuição Despesas</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    @foreach (var desp in contribDespesas)

                    {
                        <tr>
                            <td>@desp.ContribuicaoDespesas.ToString("#,##0.00") %</td>
                        </tr>
                    }
                    <tr>
                        <td>@totalDespesas.TotalContribDespesas.ToString("#,##0.00") %</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>

            <div class="box">
                <table class="table-striped">
                    <tr>
                        <td>Meta Proposta</td>
                        <td>Meta Realizada</td>
                    </tr>
                    <tr>
                        <td>@metaProp.MetaProposta.ToString("#,##0.00") %</td>
                        <td>@metaReali.MetaRealizada.ToString("#,##0.00") %</td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <br />
        <center><a href="planilha/excluirplanilha" id="excluirPlanilha" class="btn btn-link" onclick="ValidaExclusaoPlanilha(@Session["ano"], event);">Excluir Planilha</a></center>
        <br />
        <br />
        <br />
    </div>
}

