@{
    List<md_Planilha.mdJaneiro> mdjaneiro = ViewBag.planilhaGeral;
    List<md_Planilha.mdJaneiro> valorTotal = ViewBag.valorTotal;
    List<md_Planilha.mdJaneiro> FaturamentoResult = ViewBag.FaturamentoResult;
    List<md_Planilha.mdJaneiro> sobre = ViewBag.sobre;
    List<md_Planilha.mdJaneiro> resultado = ViewBag.resultadoTotal;
    List<md_Planilha.mdJaneiro> contribDespesas = ViewBag.despesas;
    md_Planilha.mdJaneiro totalSobre = ViewBag.totalSobre;
    md_Planilha.mdJaneiro propResult = ViewBag.propResultado;
    md_Planilha.mdJaneiro realiResult = ViewBag.realiResultado;
    md_Planilha.mdJaneiro totalDespesas = ViewBag.totaldespesas;
    md_Planilha.mdJaneiro propostaTabResultado = ViewBag.propostaTabResultado;
    md_Planilha.mdJaneiro realizadoTabResultado = ViewBag.realizadoTabResultado;
    ViewBag.Title = "Planilha";
    var a = 0;
    Layout = "~/Views/Shared/_Render.cshtml";
}

<div class="container">
    <div class="col-md-6">
        <h2>@ViewBag.usuario @ViewBag.ano</h2>
    </div>
    <div class="col-md-6">
        <a href="/planilha/impressao" class="btn btn-default fa fa-print fa-2x fa-border" target="_blank"></a>
    </div>
        <div class="tabela">
            <table class="table-round-corner table table-striped">
                <thead>
                    <tr>

                        <th colspan="2">Categoria</th>
                        <th colspan="2">Janeiro</th>
                        <th colspan="2">Fevereiro</th>
                        <th colspan="2">Março</th>
                        <th colspan="2">Abril</th>
                        <th colspan="2">Maio</th>
                        <th colspan="2">Junho</th>
                        <th colspan="2">Julho</th>
                        <th colspan="2">Agosto</th>
                        <th colspan="2">Setembro</th>
                        <th colspan="2">Outubro</th>
                        <th colspan="2">Novembro</th>
                        <th colspan="2">Dezembro</th>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                        <td>Proposta</td>
                        <td>Realizado</td>
                    </tr>
                </thead>
                @foreach (var p in mdjaneiro)
                {
                    a += 1;
                    <tr>
                        <td>@a</td>
                        <td>@p.Categoria</td>
                        <td>@p.JanProposta.ToString("#,##0.00")</td>
                        <td>@p.JanRealizado.ToString("#,##0.00")</td>
                        <td>@p.FevProposta.ToString("#,##0.00")</td>
                        <td>@p.FevRealizado.ToString("#,##0.00")</td>
                        <td>@p.MarProposta.ToString("#,##0.00")</td>
                        <td>@p.MarRealizado.ToString("#,##0.00")</td>
                        <td>@p.AbrProposta.ToString("#,##0.00")</td>
                        <td>@p.AbrRealizado.ToString("#,##0.00")</td>
                        <td>@p.MaiProposta.ToString("#,##0.00")</td>
                        <td>@p.MaiRealizado.ToString("#,##0.00")</td>
                        <td>@p.JunProposta.ToString("#,##0.00")</td>
                        <td>@p.JunRealizado.ToString("#,##0.00")</td>
                        <td>@p.JulProposta.ToString("#,##0.00")</td>
                        <td>@p.JulRealizado.ToString("#,##0.00")</td>
                        <td>@p.AgoProposta.ToString("#,##0.00")</td>
                        <td>@p.AgoRealizado.ToString("#,##0.00")</td>
                        <td>@p.SetProposta.ToString("#,##0.00")</td>
                        <td>@p.SetRealizado.ToString("#,##0.00")</td>
                        <td>@p.OutProposta.ToString("#,##0.00")</td>
                        <td>@p.OutRealizado.ToString("#,##0.00")</td>
                        <td>@p.NovProposta.ToString("#,##0.00")</td>
                        <td>@p.NovRealizado.ToString("#,##0.00")</td>
                        <td>@p.DezProposta.ToString("#,##0.00")</td>
                        <td>@p.DezRealizado.ToString("#,##0.00")</td>
                    </tr>
                }
                <tfoot id="totalResult">
                    <tr>
                        <td colspan="2" class="total"><b>Total</b></td>
                        @foreach (var t in valorTotal)
                        {
                            <td>@t.TotalProposta.ToString("#,##0.00")</td>
                            <td>@t.TotalRealizado.ToString("#,##0.00")</td>
                        } 
                    </tr>
                    <tr>
                        <td colspan="2" class="total"><b>Resultado</b></td>
                        @foreach (var r in resultado)
                        {
                            <td>@r.TotalPropResultado.ToString("#,##0.00")</td>
                            <td>@r.TotalRealiResultado.ToString("#,##0.00")</td>
                        }
                    </tr>
                    
                </tfoot>
            </table>
            <br />
            <div class="box">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th colspan="3">Resultado</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Proposta Total</td>
                            <td>Realizado Total</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var fatR in FaturamentoResult)
                        {
                            <tr>
                                <td>@fatR.Categoria</td>
                                <td>@fatR.FaturamentoPropResult.ToString("#,##0.00") </td>
                                <td>@fatR.FaturamentoRealiResult.ToString("#,##0.00")</td>
                            </tr>
                        }
                        <tr>
                            <td>Total: </td>
                            <td>@propResult.PropResultado</td>
                            <td>@realiResult.RealiResultado</td>
                        </tr>
                        <tr>
                            <td>Resultado</td>
                            <td>@propostaTabResultado.PropostaTabResultado.ToString("#,##0.00") </td>
                            <td>@realizadoTabResultado.RealizadoTabResultado.ToString("#,##0.00") </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <table class="table-striped">
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td>% Sobre o Faturamento</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    @foreach (var sob in sobre)

                    {
                        <tr>
                            <td>@sob.SobreFaturamento.ToString("#,##0.00")%</td>
                        </tr>
                    }
                    <tr>
                        <td>@totalSobre.TotalSobreFaturamento.ToString("#,##0.00") %</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>

            <div class="box">
                <table class="table-striped">
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td>% Contribuição Despesas</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    @foreach (var desp in contribDespesas)

                    {
                        <tr>
                            <td>@desp.ContribuicaoDespesas.ToString("#,##0.00") %</td>
                        </tr>
                    }
                    <tr>
                        <td>@totalDespesas.TotalContribDespesas.ToString("#,##0.00") %</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>


